playbook-MDE_Malware_-_Investigation_and_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.16.29
    packID: MicrosoftDefenderAdvancedThreatProtection
    packName: Microsoft Defender for Endpoint
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook investigates Microsoft Defender For Endpoint malware alerts. It uses - Microsoft Defender For Endpoint Advanced Hunting - Command Line Analysis - Deduplication - Sandbox hash search and detonation - Proactive investigation actions (AV scan, investigation package collection, running automated investigation on an endpoint) - Microsoft Defender For Endpoint alert enrichment - Incident handling (true/false positive)
id: MDE Malware - Investigation and Response
inputs:
- description: "The ticketing system to use. Possible Options: SNOW or Jira \n*SNOW
    == ServiceNow. (Used in case incident classified as True Positive)."
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether file retrieval from the endpoint is allowed.
  key: RetrieveFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether file detonation is allowed on the sandbox.
  key: DetonateFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: '"Whether the deduplication playbook will be used."'
  key: EnableDeduplication
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The name of the tag to apply for allowed indicators.
  key: BenignTagName
  playbookInputQuery: null
  required: false
  value:
    simple: BenignTagName
- description: Choose True to automatically run investigation activities (this relies
    on the `ActionTask` input).
  key: RunInvestigationActivities
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Choose True to run Advance Hunting queries through your Microsoft Defender
    For Endpoint instance. Note - it may take some time.
  key: AdvancedHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "Defines how to handle similar incidents. \nPossible values: \"Link\",
    \"Close\", \"Link and Close\".\nNote: Closing incidents requires defining the
    \"CloseSimilar\" input as well. \n Also, incidents found by similar indicators
    or fields will be closed if their similarity score is above the CloseSimilar value."
  key: DeduphandleSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: Link and Close
- description: |-
    Defines the threshold of similarity to close a similar incident. All similar incidents with similarity above this value will be closed.
    For example, if CloseSimilar is set to .8 and an incident has a similarity score of .9, the incident will be closed.
    The value should be between 0 and 1 [0=low similarity , 1=identical].
  key: DedupCloseSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: "0.9"
- description: Whether to use closure steps or close the incident automatically.
  key: EnableClosureSteps
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: If using Jira, specify the Jira Project Key (can be retrieved from
    the Jira console).
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: Choose True to autorun collecting the investigation package from an
    endpoint.
  key: AutoCollectinvestigationPackege
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    Option for input (can be comma-separated values):
    `Full Scan` - Fully scan the provided endpoints
    `Collect Investigation Package` - Collect investigation package from endpoints (only for supported devices)
    `Automated Investigation` - Run Automated Investigation on the provided endpoint
    If empty, the actions should be checked manually.
  key: ActionTask
  playbookInputQuery: null
  required: false
  value: {}
- description: Choose True to autorun a Full AV Scan on your endpoint.
  key: AutoAVScan
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Choose True to autorun automated investigation on your endpoint.
  key: AutoAutomatedInvestigation
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The tag to assign for indicators to block.
  key: MaliciousTagName
  playbookInputQuery: null
  required: false
  value:
    simple: MaliciousTagName
- description: Whether automatic un-isolation is allowed.
  key: AutoUnisolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether an alert originated from a SIEM. If 'Yes', the incident enrichment
    flow does not run.
  key: DidAlertOriginateFromSIEM
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: A comma-separated list of incident text fields to take into account
    when computing similarity. For example command line or URL.
  key: DedupSimilarTextField
  playbookInputQuery: null
  required: false
  value:
    simple: agnetsid,users,agentsid,CMDline,Hostnames,filenames,filepaths
- description: Whether endpoint auto isolation is allowed.
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Retain incidents with a similarity score greater than the MinimunIncidentSimilarity.
    Value should be between 0 to 1 [0=low similarity, 1=identical]
  key: DedupMinimunIncidentSimilarity
  playbookInputQuery: null
  required: false
  value:
    simple: "0.2"
- description: The maximum number of incidents to query and set to context data.
  key: DedupLimit
  playbookInputQuery: null
  required: false
  value:
    simple: "200"
- description: Define the custom queries you would like to run as a part of the 'MDE
    - Host Advanced Hunting' playbook. This input will be passed to the 'query_batch'
    argument in the '!microsoft-atp-advanced-hunting' command. For more information
    and examples, check the command's hints.
  key: QueryBatch
  playbookInputQuery: null
  required: false
  value: {}
name: MDE Malware - Investigation and Response
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "175"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ec2022d-5843-417e-8ed1-b0b350a485f0
      iscommand: false
      name: ""
      version: -1
    taskid: 0ec2022d-5843-417e-8ed1-b0b350a485f0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -70
        }
      }
  "11":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Investigation Summary
      output:
        simple: ${InvestigationSummary}
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "184"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves information from previously-run reputation commands and
        aggregates their results
      id: d25ca58b-c64a-4903-8e21-31de3019eb45
      iscommand: false
      name: Parse Findings From Sandbox
      script: InvestigationSummaryParse
      type: regular
      version: -1
    taskid: d25ca58b-c64a-4903-8e21-31de3019eb45
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 2490
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.RetrieveFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: filePath
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: MicrosoftATP.Alert.Evidence.sha256
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: NonFoundHashes
                root: MicrosoftATP.Alert.Evidence
          operator: isNotEmpty
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Status
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Endpoint.ID
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.deviceid
                root: Endpoint
          operator: isEqualString
          right:
            value:
              simple: Online
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "145"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is file retrieval allowed?
      id: 95ef7d27-7df0-49ec-8d6a-7118ec6a9401
      iscommand: false
      name: Is file retrieval allowed?
      type: condition
      version: -1
    taskid: 95ef7d27-7df0-49ec-8d6a-7118ec6a9401
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1625
        }
      }
  "18":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: NonFoundHashes
                transformers:
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "70"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there hashes with no results?
      id: 6267fbcf-a31f-46d5-8734-ecc94ed43859
      iscommand: false
      name: Are there hashes with no results?
      type: condition
      version: -1
    taskid: 6267fbcf-a31f-46d5-8734-ecc94ed43859
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1300
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 125d4b5d-a9c1-4c5d-847d-e742f1651e49
      iscommand: false
      name: Sandbox
      type: title
      version: -1
    taskid: 125d4b5d-a9c1-4c5d-847d-e742f1651e49
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1030
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: caba4405-a8c1-4f6a-8963-1f98223459d5
      iscommand: false
      name: Sandbox done
      type: title
      version: -1
    taskid: caba4405-a8c1-4f6a-8963-1f98223459d5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 2885
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "180"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 22fd89bc-e472-49e8-8db9-95c16572eb8c
      iscommand: false
      name: Done Investigation
      type: title
      version: -1
    taskid: 22fd89bc-e472-49e8-8db9-95c16572eb8c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3030
        }
      }
  "44":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Alert Determination
        options: []
        optionsarg:
        - simple: Uknown
        - simple: TruePositive
        - simple: FalsePositive
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Define the closure reason
        options: []
        optionsarg:
        - simple: Other
        - simple: UnwantedSoftware
        - simple: SecurityTesting
        - simple: SecurityPersonnel
        - simple: Malware
        - simple: Apt
        - simple: NotAvailable
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Please add comment
        options: []
        optionsarg: []
        placeholder: XSOAR related incident ${incident.id}
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Determine if the alert was False/True Positive
      totalanswers: 0
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Please Classify this MDE Incident ${incident.id}
      cc: null
      format: ""
      methods: []
      replyOptions:
      - False Positive
      - True Positive
      subject:
        simple: 'New Microsoft Defender For Endpoint '
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "182"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm if true or false positive
      id: 7296dc25-f433-4ae9-8570-871d2e37f8b6
      iscommand: false
      name: Confirm if true or false positive
      type: collection
      version: -1
    taskid: 7296dc25-f433-4ae9-8570-871d2e37f8b6
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -170,
          "y": 3470
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "177"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a6b8679-ab47-4f41-8986-6d9cd4acc042
      iscommand: false
      name: Advanced Hunting
      type: title
      version: -1
    taskid: 7a6b8679-ab47-4f41-8986-6d9cd4acc042
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1030
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3ad4e906-9be3-4094-8c27-f9887175cccb
      iscommand: false
      name: Deduplication
      type: title
      version: -1
    taskid: 3ad4e906-9be3-4094-8c27-f9887175cccb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 215
        }
      }
  "67":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableDeduplication
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "176"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Use deduplication?
      id: 2a4357f0-ec4e-4851-8c0d-920423278052
      iscommand: false
      name: Use deduplication?
      type: condition
      version: -1
    taskid: 2a4357f0-ec4e-4851-8c0d-920423278052
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 360
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d18ed54-ea4d-4c33-8531-167ce5a2b687
      iscommand: false
      name: Done Deduplication
      type: title
      version: -1
    taskid: 7d18ed54-ea4d-4c33-8531-167ce5a2b687
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 700
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1e895103-8554-479f-810d-c16ba079581e
      iscommand: false
      name: Known File
      type: title
      version: -1
    taskid: 1e895103-8554-479f-810d-c16ba079581e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 1480
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c52c2a82-2303-452c-8d0c-051413223970
      iscommand: false
      name: Unknown File
      type: title
      version: -1
    taskid: c52c2a82-2303-452c-8d0c-051413223970
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1480
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "178"
    note: false
    quietmode: 0
    scriptarguments:
      DeviceID:
        complex:
          accessor: ID
          root: Endpoint
          transformers:
          - operator: uniq
      DeviceName:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      FileMd5:
        complex:
          accessor: filemd5
          root: incident
          transformers:
          - operator: uniq
      FileName:
        complex:
          accessor: filenames
          root: incident
          transformers:
          - operator: uniq
      FileSha1:
        complex:
          accessor: filesha1
          root: incident
          transformers:
          - operator: uniq
      FileSha256:
        complex:
          accessor: filesha256
          root: incident
          transformers:
          - operator: uniq
      QueryBatch:
        complex:
          root: inputs.QueryBatch
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature based on the provided inputs.
      id: 565c4255-a32e-4dc7-8497-50ac79c1d53d
      iscommand: false
      name: MDE - Host Advanced Hunting
      playbookId: MDE - Host Advanced Hunting
      type: playbook
      version: -1
    taskid: 565c4255-a32e-4dc7-8497-50ac79c1d53d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 770,
          "y": 1340
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
      - "63"
      - "167"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 15a147de-be00-4d88-8793-6ed20fd9aad3
      iscommand: false
      name: Proceeding with investigation
      type: title
      version: -1
    taskid: 15a147de-be00-4d88-8793-6ed20fd9aad3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 860
        }
      }
  "137":
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "178"
    note: false
    quietmode: 0
    scriptarguments:
      AutoAVScan:
        simple: ${inputs.AutoAVScan}
      AutoAutomatedInvestigation:
        simple: ${inputs.AutoAutomatedInvestigation}
      AutoCollectinvestigationPackege:
        simple: ${inputs.AutoCollectinvestigationPackege}
      EndpointsID:
        simple: ${incident.deviceid}
      Task:
        simple: ${inputs.ActionTask}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook supports investigation actions for the analyst,
        including:  \n- Running a full AV scan for a specific endpoint.   \n- Requesting
        an investigation package (a zip file containing forensic data with a size
        of ~ 15MB) from an endpoint.  \n- Requesting to run automatic investigation
        on an endpoint.  \n"
      id: c69f90c0-47aa-4a84-82a8-28c051ee8fad
      iscommand: false
      name: MDE - Pro-Active Actions
      playbookId: MDE - Pro-Active Actions
      type: playbook
      version: -1
    taskid: c69f90c0-47aa-4a84-82a8-28c051ee8fad
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 1565
        }
      }
  "144":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.RunInvestigationActivities
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "144"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "178"
      "yes":
      - "137"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Run Pro-Active Activities?
      id: 0d6e7c76-7c2f-48d8-8017-c4cdc692824b
      iscommand: false
      name: Run Pro-Active Activities?
      type: condition
      version: -1
    taskid: 0d6e7c76-7c2f-48d8-8017-c4cdc692824b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 1340
        }
      }
  "145":
    continueonerrortype: ""
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      format:
        simple: '{1}\{2}'
      list1:
        complex:
          accessor: filePath
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.sha256
              operator: in
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          root: MicrosoftATP.Alert.Evidence
          transformers:
          - operator: StringToArray
      list2:
        complex:
          accessor: fileName
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MicrosoftATP.Alert.Evidence.sha256
              operator: in
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          root: MicrosoftATP.Alert.Evidence
          transformers:
          - operator: StringToArray
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Joins values by index from two lists according to a given format.
      id: 9b854a73-cd0f-4d60-8d59-dc15a74171c8
      iscommand: false
      name: Join File Paths and File Names
      script: ZipStrings
      type: regular
      version: -1
    taskid: 9b854a73-cd0f-4d60-8d59-dc15a74171c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1815
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "155"
    note: false
    quietmode: 0
    scriptarguments:
      paths:
        complex:
          root: zipped_list
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.filenames
            operator: append
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This playbook uses the Live Response feature to retrieve a file
        from an endpoint./nNote that the endpoint id will be set from the incident
        field "Device ID".
      id: 0d5a02f5-19b8-4ca1-8728-aebc98bb415c
      iscommand: false
      name: MDE - Retrieve File
      playbookId: MDE - Retrieve File
      type: playbook
      version: -1
    taskid: 0d5a02f5-19b8-4ca1-8728-aebc98bb415c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -750,
          "y": 1980
        }
      }
  "149":
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.SHA256
              operator: inList
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: File.Size
              operator: greaterThan
              right:
                value:
                  simple: "0"
          root: File
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This playbook uploads, detonates, and analyzes files for supported
        sandboxes. Currently supported sandboxes are Falcon X and Wildfire. '
      id: e6ff0950-a645-49dc-8860-185c19c0f619
      iscommand: false
      name: Detonate and Analyze File - Generic
      playbookId: Detonate and Analyze File - Generic
      type: playbook
      version: -1
    taskid: e6ff0950-a645-49dc-8860-185c19c0f619
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -750,
          "y": 2320
        }
      }
  "150":
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      FileSha256:
        complex:
          accessor: SHA256
          root: File
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 34a899e1-c434-46fc-8483-a996c26fbd01
      iscommand: false
      name: Search For Hash In Sandbox - Generic
      playbookId: Search For Hash In Sandbox - Generic
      type: playbook
      version: -1
    taskid: 34a899e1-c434-46fc-8483-a996c26fbd01
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1150
        }
      }
  "155":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.SHA256
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: NonFoundHashes
                root: File
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is Detonate Allowed?
      id: dda94037-459e-453a-8c16-6f4a8193845c
      iscommand: false
      name: Is Detonate Allowed?
      type: condition
      version: -1
    taskid: dda94037-459e-453a-8c16-6f4a8193845c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -750,
          "y": 2140
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    scriptarguments:
      AutoIsolation:
        simple: ${inputs.AutoIsolation}
      BlockTag:
        simple: ${inputs.MaliciousTagName}
      Classification:
        simple: ${Determine if the alert was False/True Positive.Answers.0}
      CloseDuplicate:
        simple: ${inputs.DeduphandleSimilar}
      Comment:
        simple: ${Determine if the alert was False/True Positive.Answers.2}
      DupAlertIDsToBeClosed:
        complex:
          accessor: id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotFindSimilarIncidents.similarIncident.similarity incident
              operator: greaterThanOrEqual
              right:
                iscontext: true
                value:
                  simple: inputs.DedupCloseSimilar
          root: DBotFindSimilarIncidents.similarIncident
      FileSha1:
        simple: ${incident.filesha1}
      FileSha256:
        simple: ${incident.filesha256}
      HostID:
        simple: ${incident.deviceid}
      Reason:
        simple: ${Determine if the alert was False/True Positive.Answers.1}
      TicketDescription:
        simple: ${Determine if the alert was False/True Positive.Answers.2} + Incident
          classification:${Determine if the alert was False/True Positive.Answers.0}
      TicketProjectName:
        simple: ${inputs.TicketProjectName}
      TicketingSystemToUse:
        simple: ${inputs.TicketingSystemToUse}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook closes a true positive incident for Microsoft Defender
        for Endpoint.
      id: 1565d709-2199-4bd4-8f9f-9aaf051a3c8c
      iscommand: false
      name: MDE - True Positive Incident Handling
      playbookId: MDE - True Positive Incident Handling
      type: playbook
      version: -1
    taskid: 1565d709-2199-4bd4-8f9f-9aaf051a3c8c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -580,
          "y": 3840
        }
      }
  "158":
    continueonerrortype: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ac6d1d6-89d7-4c39-8574-0467b6440ca0
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 4ac6d1d6-89d7-4c39-8574-0467b6440ca0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4010
        }
      }
  "167":
    continueonerrortype: ""
    id: "167"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "171"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eca52112-9516-4558-8bb6-08c6008af484
      iscommand: false
      name: Command Line Analysis
      type: title
      version: -1
    taskid: eca52112-9516-4558-8bb6-08c6008af484
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1030
        }
      }
  "168":
    continueonerrortype: ""
    id: "168"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "169"
    note: false
    quietmode: 0
    scriptarguments:
      Commandline:
        complex:
          accessor: cmdline
          root: incident
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook takes the command line from the alert and performs
        the following actions:\n - Checks for a base64 string and decodes it if exists.\n
        - Extracts and enriches indicators from the command line\n - Checks specific
        arguments for malicious usage. \n\n At the end of the playbook, it sets a
        possible verdict for the command line, based on the finding:\n 1. Indicators
        found in the command line\n 2. Found AMSI techniques\n 3. Found suspicious
        parameters\n 4. Usage of malicious tools\n 5. Indication of network activity"
      id: bcbcdb16-6446-4145-8449-61ea169fffd1
      iscommand: false
      name: Command-Line Analysis
      playbookId: Command-Line Analysis
      type: playbook
      version: -1
    taskid: bcbcdb16-6446-4145-8449-61ea169fffd1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1360
        }
      }
  "169":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CommandlineVerdict
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "169"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "170"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Found any suspicious components?
      id: 3bcaf314-b962-454c-8cfc-4c731de56f14
      iscommand: false
      name: Found any suspicious components?
      type: condition
      version: -1
    taskid: 3bcaf314-b962-454c-8cfc-4c731de56f14
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1545
        }
      }
  "170":
    continueonerrortype: ""
    id: "170"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "179"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        complex:
          root: CommandlineVerdict
          transformers:
          - operator: Stringify
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '"(\w*)":'
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set Tag `Suspicious Command-line`
      id: 172dfad5-e45e-4ffc-8565-84cd619b1346
      iscommand: true
      name: Set Tag `Suspicious Command-line`
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 172dfad5-e45e-4ffc-8565-84cd619b1346
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1720
        }
      }
  "171":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: incident.cmdline
                    operator: notInList
                    right:
                      iscontext: true
                      value:
                        simple: incident.processnames
                root: incident.cmdline
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "168"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a CMD line parameter?
      id: 38f0b122-bd89-4fe2-8d44-7fec4faf768b
      iscommand: false
      name: Is there a CMD line parameter?
      type: condition
      version: -1
    taskid: 38f0b122-bd89-4fe2-8d44-7fec4faf768b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1160
        }
      }
  "174":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableClosureSteps
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "174"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "185"
      "yes":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Proceed To Closure Steps?
      id: b5074e32-569b-4f97-84ee-681c13ee0e93
      iscommand: false
      name: Proceed To Closure Steps?
      type: condition
      version: -1
    taskid: b5074e32-569b-4f97-84ee-681c13ee0e93
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3290
        }
      }
  "175":
    continueonerrortype: ""
    id: "175"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      AlertID:
        simple: ${incident.externalsystemid}
      DidAlertOriginateFromSIEM:
        simple: ${inputs.DidAlertOriginateFromSIEM}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook enriches Microsoft Defender For Endpoint alerts.
        The enrichment is done on the involved endpoint and Mitre technique ID information,
        and sets the 'Malware-Investigation and Response' layout.
      id: 87ef83d0-cd21-45c5-8961-1ad5d9bef5a3
      iscommand: false
      name: MDE Malware - Incident Enrichment
      playbookId: MDE Malware - Incident Enrichment
      type: playbook
      version: -1
    taskid: 87ef83d0-cd21-45c5-8961-1ad5d9bef5a3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 60
        }
      }
  "176":
    continueonerrortype: ""
    id: "176"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      CloseSimilar:
        simple: ${inputs.DedupCloseSimilar}
      closeReason:
        simple: Closed by Dedup Playbook within inc ${incident.id}
      fromDate:
        simple: 1 months ago
      handleSimilar:
        simple: ${inputs.DeduphandleSimilar}
      limit:
        simple: ${inputs.DedupLimit}
      method:
        simple: Fields and Indicators
      minimunIncidentSimilarity:
        simple: ${inputs.DedupMinimunIncidentSimilarity}
      query:
        simple: -status:closed -category:job
      showIncidentSimilarityForAllFields:
        simple: "True"
      similarTextField:
        simple: ${inputs.DedupSimilarTextField}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook identifies duplicate incidents using the Cortex
        XSOAR machine learning method (script).\nIn this playbook, you can choose
        fields and/or indicators to be compared against other incidents in the Cortex
        XSOAR database. \n\nNote: To identify similar incidents you must must properly
        define the playbook inputs. "
      id: 61ab23a3-6901-4cb0-8cc8-5f94b1002080
      iscommand: false
      name: Dedup - Generic v4
      playbookId: Dedup - Generic v4
      type: playbook
      version: -1
    taskid: 61ab23a3-6901-4cb0-8cc8-5f94b1002080
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 700,
          "y": 530
        }
      }
  "177":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AdvancedHunting
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "177"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "178"
      "yes":
      - "81"
      - "144"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: AutoRun Advanced Hunting
      id: 9a00135e-16eb-46ea-873d-cba2f3968454
      iscommand: false
      name: AutoRun Advanced Hunting
      type: condition
      version: -1
    taskid: 9a00135e-16eb-46ea-873d-cba2f3968454
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1160
        }
      }
  "178":
    continueonerrortype: ""
    id: "178"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7fac4cd8-8be4-42cf-86d6-fa71eaacb9ec
      iscommand: false
      name: Done with Advanced Hunting
      type: title
      version: -1
    taskid: 7fac4cd8-8be4-42cf-86d6-fa71eaacb9ec
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1735
        }
      }
  "179":
    continueonerrortype: ""
    id: "179"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5bf1639-282e-45c2-875e-b3077cbb2757
      iscommand: false
      name: 'Done Command Line Analysis '
      type: title
      version: -1
    taskid: b5bf1639-282e-45c2-875e-b3077cbb2757
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -10,
          "y": 2790
        }
      }
  "180":
    continueonerrortype: ""
    id: "180"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "174"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1e5b9e05-4a41-4ee8-898b-02e4d44eb0a3
      iscommand: false
      name: Proceed to closure steps
      type: title
      version: -1
    taskid: 1e5b9e05-4a41-4ee8-898b-02e4d44eb0a3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3160
        }
      }
  "181":
    continueonerrortype: ""
    id: "181"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    scriptarguments:
      AllowTag:
        simple: ${inputs.BenignTagName}
      AutoUnisolation:
        simple: ${inputs.AutoUnisolation}
      Classification:
        simple: ${Determine if the alert was False/True Positive.Answers.0}
      CloseDuplicate:
        simple: ${inputs.DeduphandleSimilar}
      Comment:
        simple: ${Determine if the alert was False/True Positive.Answers.2}
      DupAlertIDsToBeClosed:
        complex:
          accessor: id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: 'DBotFindSimilarIncidents.similarIncident.similarity incident '
              operator: greaterThanOrEqual
              right:
                iscontext: true
                value:
                  simple: inputs.DedupCloseSimilar
          root: DBotFindSimilarIncidents.similarIncident
      Reason:
        simple: ${Determine if the alert was False/True Positive.Answers.1}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This Playbook closes a false positive incident for Microsoft Defender
        for Endpoint. '
      id: f50a3a65-7803-4ba7-82b3-17af674e45c4
      iscommand: false
      name: MDE - False Positive Incident Handling
      playbookId: MDE - False Positive Incident Handling
      type: playbook
      version: -1
    taskid: f50a3a65-7803-4ba7-82b3-17af674e45c4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 240,
          "y": 3840
        }
      }
  "182":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: containsString
          right:
            value:
              simple: "true"
      label: True Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Determine if the alert was False/True Positive.Answers.0
          operator: containsString
          right:
            value:
              simple: "false"
      label: False Positive
    continueonerrortype: ""
    id: "182"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "183"
      False Positive:
      - "181"
      True Positive:
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: False/True/Manual
      id: 15a8e17f-10cf-4b19-84f5-e5845de5f7dc
      iscommand: false
      name: False/True/Manual
      type: condition
      version: -1
    taskid: 15a8e17f-10cf-4b19-84f5-e5845de5f7dc
    timertriggers:
    - action: stop
      fieldname: triagesla
    type: condition
    view: |-
      {
        "position": {
          "x": -170,
          "y": 3640
        }
      }
  "183":
    continueonerrortype: ""
    id: "183"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Resolve this incident manually. '
      id: 5bddbbf9-6a28-44e2-8215-8f63ddfdcf54
      iscommand: false
      name: Manual Action Required - Resolve Incident
      type: regular
      version: -1
    taskid: 5bddbbf9-6a28-44e2-8215-8f63ddfdcf54
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": 3840
        }
      }
  "184":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Detailed Investigation Summary
      output:
        simple: ${InvestigationDetailedSummary}
    id: "184"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses attacks from context, and shows them according to the MITRE
        technique they use.
      id: 55a613a3-617c-4809-82d6-c0eddd8f6285
      iscommand: false
      name: Parse results for detailed summary
      script: InvestigationDetailedSummaryParse
      type: regular
      version: -1
    taskid: 55a613a3-617c-4809-82d6-c0eddd8f6285
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 2650
        }
      }
  "185":
    continueonerrortype: ""
    id: "185"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 691baa1b-bf16-486c-8ea1-063c27de958c
      iscommand: false
      name: Stop Triage SLA Timer
      type: title
      version: -1
    taskid: 691baa1b-bf16-486c-8ea1-063c27de958c
    timertriggers:
    - action: stop
      fieldname: triagesla
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3655
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "169_43_#default#": 0.15,
      "171_43_#default#": 0.12
    },
    "paper": {
      "dimensions": {
        "height": 4145,
        "width": 2340,
        "x": -750,
        "y": -70
      }
    }
  }
