playbook-MDE_-_True_Positive_Incident_Handling.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.16.29
    packID: MicrosoftDefenderAdvancedThreatProtection
    packName: Microsoft Defender for Endpoint
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This Playbook handles closing a true positive incident for Microsoft Defender for Endpoint.
id: MDE - True Positive Incident Handling
inputs:
- description: 'The Cortex XSOAR investigation IDs to be closed. '
  key: DupAlertIDsToBeClosed
  playbookInputQuery: null
  required: false
  value: {}
- description: Add a comment to close an incident on the Microsoft Defender For Endpoint
    side.
  key: Comment
  playbookInputQuery: null
  required: false
  value:
    simple: 'XSOAR Incident #${incident.id}'
- description: |-
    Provide a reason for closing the incident. Choose one of the following:
    "NotAvailable"/"Apt,Malware"/"SecurityPersonnel"/"SecurityTesting"/"UnwantedSoftware"/"Other"
  key: Reason
  playbookInputQuery: null
  required: false
  value: {}
- description: Choose From - "Unknown" / "TruePositive" / "FalsePositive"
  key: Classification
  playbookInputQuery: null
  required: false
  value: {}
- description: 'Specify the ticket description for this section. '
  key: TicketDescription
  playbookInputQuery: null
  required: false
  value: {}
- description: Specify the banning tag name for the found indicators.
  key: BlockTag
  playbookInputQuery: null
  required: false
  value:
    simple: BlockTag
- description: If you are using Jira, specify the Jira Project Key here (can be retrieved
    from the Jira console).
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the ticketing system to use, for example Jira or ServiceNow.
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether host isolation is allowed.
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Whether duplicate incidents should be closed as well in the Microsoft Defender for Endpoint integration instance.
    The playbook looks for the world "Close" in this input.
  key: CloseDuplicate
  playbookInputQuery: null
  required: false
  value: {}
- description: The ID of the host for running an isolation process.
  key: HostID
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.deviceid}
- description: Enter the File SHA256 you want to block.
  key: FileSha256
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.filesha256}
- description: Enter the File SHA1 you want to remove from your protected endpoints.
  key: FileSha1
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.filesha1}
- description: |-
    This input will provide you the ability to select IOCs to be hunted using the Threat Hunting - generic playbook.
    If false, it will hunt for all IOCs detected in the incident.
    Note: You can also insert "No Threat Hunting" to skip the Threat Hunting stage.
  key: ManuallyChooseIOCForHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: IP value to be hunt on.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: IP.Address
          operator: isNotEmpty
      root: IP
      transformers:
      - operator: uniq
- description: MD5 file value to be hunt upon.
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: File.MD5
          operator: isNotEmpty
      root: File.MD5
      transformers:
      - operator: uniq
- description: URL or domain to be hunt upon.
  key: URL_or_Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: Domain.Name
          operator: isNotEmpty
      root: Domain.Name
      transformers:
      - args:
          item:
            iscontext: true
            value:
              simple: URL.Data
        operator: append
      - operator: uniq
name: MDE - True Positive Incident Handling
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8b0086d0-9ebb-4369-8321-36545b6dada6
      iscommand: false
      name: ""
      version: -1
    taskid: 8b0086d0-9ebb-4369-8321-36545b6dada6
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -1770,
          "y": -180
        }
      }
  "27":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Mark the indicators to block
        options: []
        optionsarg:
        - simple: ${inputs.FileSha256}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Generate alerts on this indicator?
        options: []
        optionsarg:
        - simple: "False"
        - simple: "True"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: ""
      title: Indicators to block
      totalanswers: 0
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirms the indicators to block.
      id: 1b0bf6d9-d7fe-4d22-88a6-c0e11ac94657
      iscommand: false
      name: Confirm Indicators to block
      type: collection
      version: -1
    taskid: 1b0bf6d9-d7fe-4d22-88a6-c0e11ac94657
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1510
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    scriptarguments:
      indicatorsValues:
        simple: ${Indicators to block.Answers.0}
      tags:
        simple: ${inputs.BlockTag}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicators
      id: 0bda6212-cc57-479f-8f57-7154e95f96cd
      iscommand: true
      name: Tag Indicators
      script: Builtin|||setIndicators
      type: regular
      version: -1
    taskid: 0bda6212-cc57-479f-8f57-7154e95f96cd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1710,
          "y": 1990
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: Allowed
      generate_alert:
        simple: ${Indicators to block.Answers.1}
      indicator_description:
        simple: 'Added by Cortex XSOAR - Incident #${incident.id}'
      indicator_title:
        simple: 'Added by Cortex XSOAR - Incident #${incident.id} '
      indicator_type:
        simple: FileSha256
      indicator_value:
        simple: ${Indicators to block.Answers.0}
      severity:
        simple: Informational
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a new indicator.
      id: 6a1c3010-89a0-4eb2-824f-5f8943a71ee3
      iscommand: true
      name: Create IOC on Microsoft Defender For Endpoint
      script: '|||microsoft-atp-sc-indicator-create'
      type: regular
      version: -1
    taskid: 6a1c3010-89a0-4eb2-824f-5f8943a71ee3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1250,
          "y": 1990
        }
      }
  "72":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Indicators to block.Answers.0
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "86"
      "yes":
      - "68"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was a hash selected?
      id: 83e10ad8-4cae-4707-8814-e7848604d2b9
      iscommand: false
      name: Was there any hash selected?
      type: condition
      version: -1
    taskid: 83e10ad8-4cae-4707-8814-e7848604d2b9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1660
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: inputs.DupAlertIDsToBeClosed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Cortex XSOAR incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: f2f50926-288f-41ad-8aa9-0d1536b4dd3b
      iscommand: false
      name: Retrieve MDE alert ID based on Cortex XSOAR investigation
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: f2f50926-288f-41ad-8aa9-0d1536b4dd3b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1470,
          "y": 2730
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    scriptarguments:
      alert_id:
        complex:
          accessor: alertid
          root: foundIncidents.CustomFields
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.alertid
            operator: append
      classification:
        simple: ${inputs.Classification}
      comment:
        simple: ${inputs.Comment}
      determination:
        simple: ${inputs.Reason}
      status:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Update the properties of an alert entity.
      id: 645397ea-9836-4ae4-8ac3-c25e5fbd6d85
      iscommand: true
      name: Resolve MDE Alert
      script: '|||microsoft-atp-update-alert'
      type: regular
      version: -1
    taskid: 645397ea-9836-4ae4-8ac3-c25e5fbd6d85
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1760,
          "y": 2910
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aee236d4-9be6-430f-86fc-c231f4c9eb6f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: aee236d4-9be6-430f-86fc-c231f4c9eb6f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1760,
          "y": 3225
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: ${inputs.Reason}
      id:
        complex:
          accessor: id
          root: foundIncidents
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.id
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: ce9624e9-c5b7-44ce-88c8-e3fed9b8d8ea
      iscommand: true
      name: Close  Cortex XSOAR incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ce9624e9-c5b7-44ce-88c8-e3fed9b8d8ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1760,
          "y": 3075
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Approve Endpoint Isolation
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#default#':
      - "91"
      "Yes":
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Approve isolation.
      id: 3792dd28-29b8-431c-83f7-26577d7f3e4c
      iscommand: false
      name: Approve isolation
      type: condition
      version: -1
    taskid: 3792dd28-29b8-431c-83f7-26577d7f3e4c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2270,
          "y": 1670
        }
      }
  "79":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.AutoIsolation
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "78"
      "yes":
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Auto isolates the endpoint.
      id: d38a1702-2396-40bc-867c-02ea3810009d
      iscommand: false
      name: Auto Isolate the endpoint
      type: condition
      version: -1
    taskid: d38a1702-2396-40bc-867c-02ea3810009d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2060,
          "y": 1490
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df31ad43-5417-442f-8d24-39a88d44f6ec
      iscommand: false
      name: IT Remediation
      type: title
      version: -1
    taskid: df31ad43-5417-442f-8d24-39a88d44f6ec
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1230
        }
      }
  "81":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: SNOW
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: ServiceNow
      label: SNOW
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.TicketingSystemToUse
          operator: containsString
          right:
            value:
              simple: JIRA
      label: JIRA
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "82"
      JIRA:
      - "95"
      SNOW:
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is a ticketing system defined?
      id: 3fe89179-94c1-4efb-8f73-4361eb5fa713
      iscommand: false
      name: Is a ticketing system defined?
      type: condition
      version: -1
    taskid: 3fe89179-94c1-4efb-8f73-4361eb5fa713
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1450
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 84429a60-2698-4b77-8c34-a424463316a9
      iscommand: false
      name: Done auditing step
      type: title
      version: -1
    taskid: 84429a60-2698-4b77-8c34-a424463316a9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -800,
          "y": 2160
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 275501d8-cfce-4d9b-8992-0613b470fba0
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: 275501d8-cfce-4d9b-8992-0613b470fba0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1380
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2c9317be-97a3-430e-86e9-82a2a8814094
      iscommand: false
      name: Done block indicators
      type: title
      version: -1
    taskid: 2c9317be-97a3-430e-86e9-82a2a8814094
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 2160
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 78da17e3-6fd2-4e69-84d9-08186d9a475b
      iscommand: false
      name: Done Remediation and Containment
      type: title
      version: -1
    taskid: 78da17e3-6fd2-4e69-84d9-08186d9a475b
    timertriggers:
    - action: stop
      fieldname: containmentsla
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": -1760,
          "y": 2310
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cd587978-6765-45c1-857c-52c75b9f06f6
      iscommand: false
      name: Isolate
      type: title
      version: -1
    taskid: cd587978-6765-45c1-857c-52c75b9f06f6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2060,
          "y": 1380
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        Device_id:
          simple: ${Endpoint.ID}
        Isolation_type:
          simple: Full
      wait: 1
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    scriptarguments:
      Device_id:
        simple: ${inputs.HostID}
      Isolation_type:
        simple: Full
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook accepts an endpoint ID, IP, or host name and isolates
        it using the Microsoft Defender For Endpoint integration.
      id: 52db898c-b3f1-4741-8461-d2f0cbb100dd
      iscommand: false
      name: Microsoft Defender For Endpoint - Isolate Endpoint
      playbookId: Microsoft Defender For Endpoint - Isolate Endpoint
      type: playbook
      version: -1
    taskid: 52db898c-b3f1-4741-8461-d2f0cbb100dd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -2060,
          "y": 1845
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 778bac53-14d0-40af-8684-7da9bc08fd72
      iscommand: false
      name: Done with isolating the infected device
      type: title
      version: -1
    taskid: 778bac53-14d0-40af-8684-7da9bc08fd72
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2060,
          "y": 2160
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "96"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2be93393-e143-40a1-8936-feb2e924e664
      iscommand: false
      name: Final Closure
      type: title
      version: -1
    taskid: 2be93393-e143-40a1-8936-feb2e924e664
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1760,
          "y": 2430
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.TicketDescription}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This script wraps the generic create-record command in ServiceNow.
        You can add fields that you want to create the record with as script arguments or in the
        code.
      id: 1283ccb8-b997-41d3-86b7-feee0bc40ac4
      iscommand: false
      name: Open ServiceNow ticket
      script: ServiceNowCreateIncident
      type: regular
      version: -1
    taskid: 1283ccb8-b997-41d3-86b7-feee0bc40ac4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1010,
          "y": 1805
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: ServiceNow v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the ServiceNow integration is enabled.
      id: 42a1ae0b-519e-4faf-8778-63f7daff544a
      iscommand: false
      name: Is ServiceNow Available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 42a1ae0b-519e-4faf-8778-63f7daff544a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1010,
          "y": 1630
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "102"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: jira-v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the Jira integration is enabled.
      id: fb4ef355-0555-4ed7-8e0a-4040505a602e
      iscommand: false
      name: Is Jira Available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: fb4ef355-0555-4ed7-8e0a-4040505a602e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -590,
          "y": 1630
        }
      }
  "96":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.DupAlertIDsToBeClosed
          operator: isNotEmpty
          right:
            value: {}
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.CloseDuplicate
          operator: containsString
          right:
            value:
              simple: close
      label: "yes"
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "75"
      "yes":
      - "74"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were additional duplicate IDs provided?
      id: d5fc2714-02c0-4e47-80ae-5e2a4e2a6a5b
      iscommand: false
      name: Additional Duplicate IDs were provided?
      type: condition
      version: -1
    taskid: d5fc2714-02c0-4e47-80ae-5e2a4e2a6a5b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1760,
          "y": 2560
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        simple: Emergency containment
      file_hash:
        complex:
          accessor: "0"
          root: Confirm which SHA1 should be deleted.Answers
          transformers:
          - operator: uniq
      machine_id:
        simple: ${MicrosoftATP.FileMachine.Machines.ID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Stops the execution of a file on a machine and deletes it.
      id: ff92e5c2-b758-4684-86a5-dc5aa1ec4cb1
      iscommand: true
      name: Quarantine this file on an affected machine
      script: '|||microsoft-atp-stop-and-quarantine-file'
      type: regular
      version: -1
    taskid: ff92e5c2-b758-4684-86a5-dc5aa1ec4cb1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2530,
          "y": 2010
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    scriptarguments:
      file_hash:
        complex:
          accessor: "0"
          root: Confirm which SHA1 should be deleted.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a collection of machines related to a given file SHA1 hash.
      id: 5d2fb472-4a58-4c37-8553-d02c648eada6
      iscommand: true
      name: Get a list of devices associated with the malicious/suspicious SHA1 hashes
      script: '|||microsoft-atp-get-file-related-machines'
      type: regular
      version: -1
    taskid: 5d2fb472-4a58-4c37-8553-d02c648eada6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2530,
          "y": 1845
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ee0faebe-729e-49ba-8232-f23073a469cc
      iscommand: false
      name: Done with isolating the infected device
      type: title
      version: -1
    taskid: ee0faebe-729e-49ba-8232-f23073a469cc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2530,
          "y": 2160
        }
      }
  "100":
    continueonerrortype: ""
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "103"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 88f6002a-7e69-45d4-88df-8b7748671d48
      iscommand: false
      name: Remove File
      type: title
      version: -1
    taskid: 88f6002a-7e69-45d4-88df-8b7748671d48
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2530,
          "y": 1230
        }
      }
  "102":
    continueonerrortype: ""
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    scriptarguments:
      issueTypeName:
        simple: ${inputs.Comment}
      projectKey:
        simple: ${inputs.TicketProjectName}
      summary:
        simple: ${inputs.TicketDescription}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Creates a new issue in Jira.
      id: 5f1c8035-785b-49df-8c06-4e830be6bac8
      iscommand: true
      name: Open Jira Issue
      script: '|||jira-create-issue'
      type: regular
      version: -1
    taskid: 5f1c8035-785b-49df-8c06-4e830be6bac8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -590,
          "y": 1805
        }
      }
  "103":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Mark SHA1 to be deleted
        options: []
        optionsarg:
        - simple: ${inputs.FileSha1}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Confirm which SHA1 should be deleted
      totalanswers: 0
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "105"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirms which SHA1 to delete.
      id: 3afefbc3-2e9e-40f7-89a6-7ce0af8ab673
      iscommand: false
      name: Confirm which SHA1 should be deleted
      type: collection
      version: -1
    taskid: 3afefbc3-2e9e-40f7-89a6-7ce0af8ab673
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -2530,
          "y": 1490
        }
      }
  "105":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Confirm which SHA1 should be deleted.Answers.0
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "99"
      "yes":
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was a hash selected?
      id: 958843fb-e2d6-432e-875d-3a45bfdf9b5d
      iscommand: false
      name: Was there any hash selected?
      type: condition
      version: -1
    taskid: 958843fb-e2d6-432e-875d-3a45bfdf9b5d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2740,
          "y": 1670
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "108"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 55946c20-744d-4369-8476-1aa4630ce431
      iscommand: false
      name: Threat Hunting
      type: title
      version: -1
    taskid: 55946c20-744d-4369-8476-1aa4630ce431
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1770,
          "y": -50
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
      QRadarTimeFrame:
        simple: LAST 7 DAYS
      SHA1:
        complex:
          root: inputs.FileSha1
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: inputs.FileSha256
          transformers:
          - operator: uniq
      SplunkEarliestTime:
        simple: -7d@d
      SplunkLatestTime:
        simple: now
      URLDomain:
        complex:
          root: inputs.URL_or_Domain
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook enables threat hunting for IOCs in your enterprise.
        It currently supports the following integrations: - Splunk\n- Qradar\n- Pan-os
        \n- Cortex data lake \n- Autofocus\n- Microsoft 365 Defender"
      id: 416293fa-221b-42bb-80f0-2e26dfda43f2
      iscommand: false
      name: Threat Hunting - Generic
      playbookId: Threat Hunting - Generic
      type: playbook
      version: -1
    taskid: 416293fa-221b-42bb-80f0-2e26dfda43f2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1990,
          "y": 420
        }
      }
  "108":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.ManuallyChooseIOCForHunting
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.ManuallyChooseIOCForHunting
          operator: containsGeneral
          right:
            value:
              simple: No Threat Hunting
      label: No Hunting
    continueonerrortype: ""
    id: "108"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "107"
      No Hunting:
      - "111"
      "yes":
      - "109"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should the analyst choose the indicators to hunt?
      id: 508b2345-b411-4a43-8612-751ecd0cb67f
      iscommand: false
      name: Should the analyst choose the indicators to hunt?
      type: condition
      version: -1
    taskid: 508b2345-b411-4a43-8612-751ecd0cb67f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1770,
          "y": 80
        }
      }
  "109":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Which IPs should be hunted for?
        options: []
        optionsarg:
        - complex:
            accessor: Address
            root: inputs.IP
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Which SHA256 files should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.FileSha256
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Which SHA1 files should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.FileSha1
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Which MD5 files should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.MD5
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Which URLs/Domains should be hunted for?
        options: []
        optionsarg:
        - complex:
            root: inputs.URL_or_Domain
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Specify IOCs to hunt upon
      totalanswers: 0
    id: "109"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Specify IOCs to hunt upon
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "115"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Specify IOCs to hunt upon.
      id: 61158fa1-fcd4-4b00-83ea-00702a7f103f
      iscommand: false
      name: Specify IOCs to hunt upon
      type: collection
      version: -1
    taskid: 61158fa1-fcd4-4b00-83ea-00702a7f103f
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -2390,
          "y": 250
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "89"
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eaad906b-1fdf-4c31-8f3c-27855211d989
      iscommand: false
      name: Containment
      type: title
      version: -1
    taskid: eaad906b-1fdf-4c31-8f3c-27855211d989
    timertriggers:
    - action: start
      fieldname: containmentsla
    type: title
    view: |-
      {
        "position": {
          "x": -1770,
          "y": 1230
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
      - "80"
      - "100"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f1a37638-ddb7-498d-8ba9-9e4b448ca969
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: f1a37638-ddb7-498d-8ba9-9e4b448ca969
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": -1770,
          "y": 1080
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "113"
    note: false
    quietmode: 0
    scriptarguments:
      entryIDs:
        simple: ${lastCompletedTaskEntries}
      tags:
        simple: Found additional assets
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Adds provided entries to the incident Evidence Board. In a playbook, can be positioned after a task to add the previous task's entries to the Evidence Board automatically (with no need to provide arguments).
      id: 47402b57-cd5d-44cb-8e0f-df13ae958f33
      iscommand: false
      name: Tag the threat hunting results as Evidence
      script: AddEvidence
      type: regular
      version: -1
    taskid: 47402b57-cd5d-44cb-8e0f-df13ae958f33
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2190,
          "y": 760
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "111"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: Found additional assets
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: a79762f1-136f-4f4e-889b-127efbe67a01
      iscommand: true
      name: Add 'Found additional assets' tag to the incident
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a79762f1-136f-4f4e-889b-127efbe67a01
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2190,
          "y": 910
        }
      }
  "114":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Splunk
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: PANWHunting
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Microsoft365Defender
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: QRadar
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "111"
      "yes":
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there any results?
      id: 86356707-addf-4fcf-887e-aa224a0683c9
      iscommand: false
      name: Are there any results?
      type: condition
      version: -1
    taskid: 86356707-addf-4fcf-887e-aa224a0683c9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1990,
          "y": 590
        }
      }
  "115":
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        simple: ${Specify IOCs to hunt upon.Answers.0}
      MD5:
        simple: ${Specify IOCs to hunt upon.Answers.3}
      QRadarTimeFrame:
        simple: LAST 7 DAYS
      SHA1:
        simple: ${Specify IOCs to hunt upon.Answers.2}
      SHA256:
        simple: ${Specify IOCs to hunt upon.Answers.1}
      SplunkEarliestTime:
        simple: -7d@d
      SplunkLatestTime:
        simple: now
      URLDomain:
        simple: ${Specify IOCs to hunt upon.Answers.4}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook enables threat hunting for IOCs in your enterprise.
        It currently supports the following integrations: - Splunk\n- Qradar\n- Pan-os
        \n- Cortex data lake \n- Autofocus\n- Microsoft 365 Defender"
      id: ec74ebda-f078-4368-8445-b8a73fb013e1
      iscommand: false
      name: Threat Hunting - Generic
      playbookId: Threat Hunting - Generic
      type: playbook
      version: -1
    taskid: ec74ebda-f078-4368-8445-b8a73fb013e1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -2390,
          "y": 420
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3470,
        "width": 2530,
        "x": -2740,
        "y": -180
      }
    }
  }
